@media only screen and (max-width: 390px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin: auto;
        max-width: 390px;
    }
    header nav {
        margin-left: 0;
    }
    header nav ul {
        gap: 15px;
    }
    header nav {
        display: none;
    }
    .banner_title_title {
        text-align: center;
    }
    .banner_title {
        text-align: center;
    }
    .banner_text {
        text-align: center;
    }
    .banner_shop {
        display: flex;
        justify-content: center;
    }
    .banner_img {
        max-width: 507px;
    }
    .banner_img img {
        width: 100%;
    }
    .all-sidebar {
        width: 100%;
        margin-bottom: 20px;
    }
    .short-by {
        text-align: center;
        display: inline-block;
        gap: 20px;
    }
    .short-by ul {
        margin-bottom: 20px;
    }
    .card-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3px;
    }
    .card-products article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: calc(50% - 5px);
        overflow: hidden;
    }
    .card-products img {
        width: 100%;
    }
    .pagination {
        justify-content: center;
    }
    .blogs-banner {
        overflow: hidden;
        display: block;
        max-width: 100%;
    }
    .blogs-banner img {
        max-width: 100%;
    }
    .blog-posts {
        display: block;
        width: 100%;
        justify-content: center;
    }
    .blogs-posts-cards {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .blogs-posts-cards article {
        width: 100%;
    }
    .blogs-container {
        display: flex;
        margin: 0;
    }
    .footer-content {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .footer-card img {
        width: 100%;
        margin-bottom: 10px;
    }
    .footer-card h4 {
        text-align: center;
        margin-bottom: 10px;
    }
    .footer-card p {
        text-align: center;
        margin-bottom: 10px;
    }
    .footer-btn h4{
        text-align: center;
    }
    .footer-contact {
        flex-direction: column;
        height: auto;
        gap: 10px;
        padding: 10px;
        text-align: center;
    }
    .footer-list-item {
        padding: 20px;
        }


}
