@font-face {
    font-family: 'fontspring_demo_-_cera_proRg';
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontspring-demo-cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/fontspring-demo-cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/fontspring-demo-cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/fontspring-demo-cerapro-regular-webfont.svg#fontspring_demo_-_cera_proRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fontspring_demo_-_cera_proBd';
    src: url('../fonts/fontspring-demo-cerapro-bold-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontspring-demo-cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/fontspring-demo-cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/fontspring-demo-cerapro-bold-webfont.ttf') format('truetype'),
    url('../fonts/fontspring-demo-cerapro-bold-webfont.svg#fontspring_demo_-_cera_proBd') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/fontspring-demo-cerapro-medium-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontspring-demo-cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/fontspring-demo-cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/fontspring-demo-cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/fontspring-demo-cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/fontspring-demo-cerapro-black-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontspring-demo-cerapro-black-webfont.woff2') format('woff2'),
    url('../fonts/fontspring-demo-cerapro-black-webfont.woff') format('woff'),
    url('../fonts/fontspring-demo-cerapro-black-webfont.ttf') format('truetype'),
    url('../fonts/fontspring-demo-cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_container {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    width: 157px;
    margin: 52px auto 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title .login,
.title .register {
    font-size: 20px;
}
.title .login {
    color: #3D3D3D;
}
.title .register {
    color: #46A358;
}
.description {
    color: #3D3D3D;
    font-size: 13px;
    margin: 0 auto 14px;
    width: 300px;
}
.form-input {
    width: 300px;
    height: 40px;
    margin: 0 auto 16px;
    display: block;
    border-radius: 5px;
    border: 1px solid #3D3D3D;
    padding: 0 10px;
}
.form-button {
    width: 300px;
    height: 40px;
    margin: 0 auto 36px;
    display: block;
    font-size: 16px;
    background-color: #46A358;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;

}
.or_register {
    width: 300px;
    margin: 0 auto 27px;
    text-align: center;
    font-size: 13px;
    color: #3D3D3D;
}
.social_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    margin: 0 auto 15px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    text-decoration: none;
    color: #727272;
    font-size: 13px;
}
.social_link img {
    width: 20px;
    height: 20px;
    margin-right: 9px;
}
/*index_html*/
.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 50px;
    margin-bottom: 100px;
}
header{
    margin-bottom: 12px;
    padding-top: 30px;
}
header a img{
    display: block;
}
header nav{
    flex-grow: 1;
    margin-left: 229px;
}
header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
}
header nav ul li a{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}
header nav ul li a:hover{
    color: #3D3D3D;
    font-family: 'cera_problack';, sans-serif;
    font-weight: 700;
}
header .login{
    background:#46A358;
    border-radius: 6px;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}
header .login svg {
    margin-right: 4px;
}
header .login svg path{
    transition: 0.4s;
}
header .login:hover{
    background-color: white;
    color: #46A358;
}
header .login:hover svg path{
    stroke: #46A358;
}
.banner{
    padding: 50px 0;
}
.banner .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 93px;
}
.banner-content{
    max-width: 557px;
}
.banner_title_title{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #3D3D3D;
    margin-bottom: 7px;
}
.banner_title{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    color: #3D3D3D;
    margin-bottom: 5px;
}
.banner_text{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    margin-bottom: 44px;
}
.banner_shop{
    height: 40px;
    background:#46A358;
    border-radius: 6px;
    padding: 11px 27px;
    display: inline-flex;
    align-items: center;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.4s;
}
.banner_shop:hover{
    background-color: white;
    color: #46A358;
}
.banner_img{
    width: 507px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar{
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #FBFBFB;
    padding: 20px;
}
.sidebar_title{
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #3D3D3D;
    margin-bottom: 7px;
}
.sidebar ul  {
    list-style: none;
    padding: 0;
    margin-bottom: auto;
}
.sidebar ul li{
    margin-bottom: 10px;
}
.sidebar ul li a{
    color: #3D3D3D;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
}
.sidebar ul li a:hover{
    color: #46A358;
    font-weight: 700;
}
.sidebar img{
    width:100%;
}
.cards{
    max-width: 840px;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.short-by{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.short-by ul li{
    list-style: none;
    display: inline-block;
}
.short-by a{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-right: 40px;
    text-decoration: none;
    color: #3D3D3D;
}
.short-by a:hover{
    color: #46A358;
}
.short-by_text{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3D3D3D;
    margin-left: auto;
}
.card-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 41px;
}
.card-products img{
    width: 250px;
    height: 250px;
}
.card-products h4{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3D3D3D;
}
.card-products p{
    font-weight: 700;
    font-size: 18px;
    color: #46A358;
    margin-bottom: 76px;
}
.blogs{
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-bottom: 138px;
}
.blogs-banner{
    display: flex;
    justify-content: space-between;
    background-color: #FBFBFB;
    padding: 20px;
    gap: 20px;
    width: 586px;
}
.blogs-banner img{
    width: 250px;
    height: 250px;
}
.blogs-banner-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
}
.blogs-banner h3{
    font-family: 'cera_problack';
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    color: #3D3D3D;
    text-align: right;
    width: 150px;
    text-transform: uppercase;
    margin-left: auto;
    margin-bottom: 10px;
}
.blogs-banner p{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    width: 292px;
    color: #727272;
    margin-bottom: 25px;
}
.blogs-banner a{
    height: 40px;
    background:#46A358;
    border-radius: 6px;
    padding: 11px 27px;
    display: flex;
    margin-left: auto;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.4s;
}
.blogs-banner a:hover{
    background-color: white;
    color: #46A358;}
.blogs-banner svg {
    margin-left: 5.56px;
}
.blogs-banner svg path{
    transition: 0.4s;
}
.blogs-banner:hover svg path{
    stroke: #46A358;
}
.blogs-container{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.blogs-container.blogs-posts{
  margin-bottom: 30px;
}
.blogs-container.blogs-posts h1{
    font-family: 'cera_problack';, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    color: #3D3D3D;
    align-items: center;
    margin-bottom: 15px;
}
.blogs-posts-text{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-bottom: 35px;
}
.blogs-posts-cards{
    display: flex;
    justify-content: space-around;
    gap: 44px;
}
.blogs-posts-cards img{
    width: 268px;
    height: 196px;
}
.blogs-posts-cards .date{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #46A358;
    margin-bottom: 4px;
}
.blogs-posts-cards h4{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #3D3D3D;
    line-height: 26px;
    width: 189px;
    text-align: left;
    margin-bottom: 4px;
}
.blogs-posts-cards p{
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    text-align: left;
    margin-bottom: 9px;
}
.blogs-btn{
    text-decoration: none;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
    display: block;
    text-align: left;
    margin-bottom: 100px;

}
.blogs-btn img{
    width: 15px;
    height: 10px;
    margin-left: 6px;
}





